*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body, html {
  height: 100%;
   overflow-x: hidden;
   background-color: rgba(245, 248, 255);
}

/* Hero background */
.hero-bg {
  background-image: url('../Assets/Hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 698px; 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 50px;
}

/* Top navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  width: 100%;
 /* max-width: 1140px;*/
}
/* Logo style */
nav a {
    text-decoration: none;
}
nav a h1 {
    text-decoration: none;
    color: #4e47ff;
    font-family: 'Poppins', sans-serif;
  font-size: 34px;
  font-weight: 800;
  letter-spacing: 0.5px;
  width: 99px;
  height: 51px;

}
/* Sign up button */
.button {
  font-family: 'Raleway' sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: o;
  background-color: #4e47ff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  height: 48px;
  width: 132px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #ffc107;
  color: black;
  cursor: pointer;
}
/* Stay focused button */
.button2 {
  font-family: 'Raleway' sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  background-color: #4e47ff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  height: 48px;
  width: 174px;
}

/* Center text content */
.banner-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    width: 905px;
    height: 237px;
    margin: 0 auto;
}

.banner-description {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 65px;
  text-align: center;
  color: #111;
  margin-bottom: 20px;
}

/* Focus button under text */
.banner-content .button {
  background-color: #4e47ff;
}
.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  rgba(245, 248, 255); 
  padding: 40px 80px;
  border-radius: 12px;
  max-width: 1140px;
  margin: 40px auto;
  gap: 20px;
}

.action-content {
  max-width: 600px;
}

.action-content h2 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 12px;
  font-family: 'Raleway' sans-serif;
  color: #252432;
}

.action-content p {
    font-family: 'Raleway' sans-serif;
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 20px;
  font-weight: 400;
  max-width: 500px;
}

.button3 {
  display: inline-block;
  background-color: #4e47ff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 10px;
  opacity: 100%;
  font-family: 'Raleway' sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  height: 48px;
  width: 229px;
}

.action-image img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
  opacity: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.stats-section {
  padding: 80px 50px;
  text-align: center;
  background-color: rgba(133, 71, 255, 0.1);
  gap: 10;
  border-radius: 24px;
  width: 1140px;
  max-width: 100%;
  height: 306;
  margin: auto;
  margin-top: 70px;
}

.stats-section h2 {
  font-size: 38px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 40px;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.stats-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.stat-box h3 {
  font-size: 80px;
  font-weight: bold;
  color: #4e47ff;
  margin: 0;

}

.stat-box p {
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 5px;
}
.testimonial-section {
  width: 100%;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
}

.section-title {
  font-size: 42px;
  font-weight: bold;
  font-family: 'Raleway' sans-serif;
  color: #252432;
  margin-top: 80px;
  margin-bottom: 50px;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.testimonial-card {
  background-color: #ffffff;
  border-radius: 14px;
  padding: 24px 24px;
  max-width: 300px;
  text-align: left;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}

.stars {
   display: flex;
   gap: 4px;
   margin-bottom: 10px;
}
.stars img {
    width: 20px;
    height: 20px;
}

.testimonial-card h3 {
  font-size: 18px;
  color: #252432;
  margin-bottom: 10px;
  font-family: 'Raleway' sans-serif;
}

.quote {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.name {
  font-size: 14px;
  font-weight: 600;
  color: #252432;
  margin: 0;
}

.date {
  font-size: 12px;
  color: #888;
  margin: 0;
}
.contact-section {
  padding: 80px 20px;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}

.contact-text {
  flex: 1;
  min-width: 280px;
}

.contact-text h1 {
  font-size: 97px;
  font-weight: bold;
  color: #111;
  line-height: 120%;
}

.contact-form {
  flex: 1;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 18px;
  margin-bottom: 6px;
  color: #000000;
}

.contact-form input {
  margin-bottom: 20px;
  padding: 32px 20px;
  border: 1px solid #ccc;
  height: 70px;
  width: 497px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 14px;
  transition: border-color 0.3s;
}
.contact-form textarea {
  margin-bottom: 20px;
  padding: 32px 20px;
  border: 1px solid #ccc;
  height: 135px;
  width: 497px;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  transition: border-color 0.3s;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #2979ff;
  outline: none;
}

.contact-form button {
  padding: 16px;
  background-color: #4e47ff;
  color: #fff;
  border: none;
  border-radius: 10px;
  height: 62px;
  width: 497px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contact-form button:hover {
  background-color: #ffc107;
  color: black;
  cursor: pointer;
}
.footer {
  margin-top: 100px;
  background-color: #ffffff;
  text-align: center;
  padding: 60px 20px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.logo {
  color: #4e47ff;
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 20px;
}

.description {
  color: #8987A1;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20;
}

.footer-nav{
  text-align: center;
  margin: auto;
  max-width: 500px;
  display: flex;
}

.footer-nav a {
  color: #8987a1;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
  margin-right: 24px;
  display: inline-block;
}

.footer-nav a:hover {
  color: #0070f3;
}

